<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>About</title>
  </head>
  <body>
    <div id="header">
      <img src="/images/logo.jpg" />
      <div id="nav">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
      </div>
    </div>
    <section id="banner">
        <img class="bottom" src="/images/wolf_banner1.jpg" />
        <img class="top" src="/images/wolf_banner2.jpg" />
      </section>
    <div>
        <section>
          <article>
            The Grupo Lobo's mission is to work towards the conservation of the wolf
            and its ecosystem in Portugal, as well as to foster interest in the wolf
            and the sciences related to it through informing the public opinion. It
            is also the purpose of this Association to make efforts to establish the
            legal, ecological, and socio-economic conditions necessary for the
            effective conservation of the national wolf population.
          </article>
        </section>
    </div>
  </body>
</html>
