<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Gallery
    </title>
</head>
<body>
    <div id="header">
        <img src="/images/logo.jpg" />
        <div id="nav">
          <ul>
            <li><a href="/about">About Grupo Lobo</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/home">Home</a></li>
          </ul>
        </div>
      </div>
      <div>
          <section id="banner">
            <img class="bottom" src="/images/wolf_banner1.jpg" />
            <img class="top" src="/images/wolf_banner2.jpg" />
          </section>
      </div>
      <section id="gallery">
        <img src="/images/wolf1.jpg"/>
        <img src="/images/wolf2.jpg"/>
        <img src="/images/wolf4.jpeg"/>
        <img src="/images/wolf3.jpg"/>
        <img src="/images/wolf5.png"/>
        <img src="/images/wolf6.jpg"/>
      </section>
</body>
</html>