<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Home</title>
  </head>
  <body>
    <div id="header">
      <img src="/images/logo.jpg" />
      <div id="nav">
        <ul>
          <li><a href="/about">About Grupo Lobo</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
      </div>
    </div>
    <section id="banner">
      <img class="bottom" src="/images/wolf_banner1.jpg" />
      <img class="top" src="/images/wolf_banner2.jpg" />
    </section>
    <div>
        <section>
          <h1>The Grupo Lobo</h1>
          <article>
            The Grupo Lobo is a non-governmental environmental organization (NGO),
            independent and non-profit, founded on September 18, 1985, and
            recognized with the status of Public Utility. As part of the Signatus
            Program, the Wolf Group has initiated a strategy with areas of action
            that focus on informing the public opinion, supporting scientific
            studies, and promoting practical conservation measures.
          </article>
        </section>
    </div>
  </body>
</html>
