<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Works</title>
  </head>
  <body>
    <div id="header">
      <img src="/images/logo.jpg" />
      <div id="nav">
        <ul>
          <li><a href="/about">About Grupo Lobo</a></li>
          <li><a href="/home">Home</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
      </div>
    </div>
    <section id="banner">
      <img class="bottom" src="/images/wolf_banner1.jpg" />
      <img class="top" src="/images/wolf_banner2.jpg" />
    </section>
    <div>
        <section>
          <article>
            <ul>
              <li>
                Fostering Public Support: One of Grupo Lobo's primary missions is to
                inform the public about the importance of wolf conservation and the
                ecological role that wolves play in maintaining healthy ecosystems.
                They engage in educational programs, public events, and awareness
                campaigns to dispel myths and misconceptions about wolves while
                emphasizing their significance in the balance of nature.
              </li>
              <li>
                Support for Scientific Studies: To further the understanding of wolf
                behavior, ecology, and population dynamics, Grupo Lobo actively
                supports scientific research on the Iberian wolf. By collaborating
                with researchers and institutions, they contribute to the growing
                body of knowledge about these fascinating animals.
              </li>
              <li>
                Practical Conservation Measures: Grupo Lobo is committed to
                implementing practical conservation measures to protect the Iberian
                wolf population. Through habitat restoration initiatives, promotion
                of coexistence between humans and wolves, and efforts to reduce
                illegal hunting and poaching, the organization seeks to secure a
                sustainable future for the species.
              </li>
              <li>
                The Iberian Wolf Recovery Center: The Iberian Wolf Recovery Center,
                also known as Centro de Recuperação do Lobo Ibérico (CRLI), is
                another vital organization focused on wolf conservation in Portugal.
                The center is dedicated to the rehabilitation of injured or orphaned
                wolves with the aim of releasing them back into the wild whenever
                possible.
              </li>
              <li>
                Rehabilitation and Release Program: At the Iberian Wolf Recovery
                Center, expert veterinarians and animal care specialists work
                tirelessly to nurse injured wolves back to health. Similarly,
                orphaned wolf cubs are provided with a nurturing environment until
                they are old enough to be released into the wild, where they can
                once again thrive in their natural habitat.
              </li>
            </ul>
          </article>
        </section>
    </div>
  </body>
</html>
